HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.settings/
.springBeans
.sts4-cache
.gwt
.gwt/
/.JETEmitters
/.metadata
/.project
/.settings
/.project
/.externalToolBuilders

### Docker builds
docker/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
**/*.iml
*.ipr
.idea/*


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

## log
log
log/**


